html, body, #root {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Inter, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Courier New", monospace;
}
